@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

html, body {
    background-color: #463F3A;
    color: white;
    margin: 0;
    padding: 0;

    .container {
        position: absolute;
        top: 0; bottom: 0;
        width: stretch;
        height: fit-content;

        align-content: center;
        text-align: center;
        align-self: center;
        margin: auto;

        padding: 30px;

        form {
            max-width: 700px;
            margin: auto;
            text-align: left;

            * { font-size: 1.2em; }

            .form-group {
                padding: 10px 0;

                input {
                    padding: 10px 20px;
                    margin: 5px 0;
                    border-radius: 7px;
                    color: #fff;

                    background-color: #463f3a35;
                    border: 1px solid rgb(255, 255, 255);
    
                    width: stretch;
                }
            }

            .btn {
                border: none;
                border-radius: 9px;
                padding: 10px 25px;
                cursor: pointer;
                background-color: #E0AFA0;
                color: #463F3A;
                font-weight: 600;
                margin: 20px 0;
            }
        }

    }
}


@media only screen and (max-width: 860px) {
    .container form {
        width: stretch !important;
    }
}