  
<% errors.forEach(function(message) { %>
    <div class="alert alert-danger" onclick="this.style.display = 'none'">
        <%= message %>
        <button><i class='fa fa-times text-danger float-right'></i></button>
    </div>
<% }) %>

<% success.forEach(function(message) { %>
    <div class="alert alert-success" onclick="this.style.display = 'none'">
        <%= message %>
        <button><i class='fa fa-times text-danger float-right'></i></button>
    </div>
<% }) %>