@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    height: -webkit-fill-available;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #463F3A;
}

a {
    color: #fff;
    text-decoration: none;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.container {
    max-width: 960px;
    margin: 50px auto;
    padding: 20px 15px;
}

input::-webkit-input-placeholder{
    color: #fff;
}

input:-moz-placeholder{
    color: #fff;
}

body svg {
    position: absolute;
    z-index: -1;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #8a817c58;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form-control:focus {
    color: #fff;
    border-color: #8A817C;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.header form {
    position: absolute;
    top: 20px;
    right: 50px;
}

.header form input.btn-submit {
    border: none;
    border-radius: 9px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #E0AFA0;
    border: 1px solid #463F3A;
    color: #463F3A;
    font-weight: 600;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
}

.header form input.btn-submit:hover {
    background-color: #463F3A;
    color: #fff;
}

.header h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    transition: all 0.2s ease-in-out;
    cursor: default;
}

.container .wrapper {
    min-height: 100vh;
    border-radius: 20px;
    padding: 2rem;
    margin: 30px auto;
    border: 1px solid #8A817C;
    background-color: #463F3A;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.container .wrapper .recipe:not(.unique) {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: #8a817c58;
    transition: all 0.2s ease-in-out;

    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

    position: relative;

    display: none;
}

.container .wrapper .recipe:not(.unique):hover {
    background-color: #8a817ca6;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.recipe.unique {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 1rem;
    background-color: #8a817c58;
    transition: all 0.2s ease-in-out;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 95%;
    max-width: 960px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.recipe:not(.unique) .header { grid-column: span 12; }
.recipe:not(.unique) .title { grid-column: span 9; }
.recipe:not(.unique) .cook-time { grid-column: span 3; }
.recipe:not(.unique) .tags { grid-column: span 8; }
.recipe:not(.unique) .createdDate { grid-column: span 4; }

.recipe.unique .header { grid-column: span 9; }
.recipe.unique .actions { grid-column: span 3; }
.recipe.unique .title { grid-column: span 12; }
.recipe.unique .ingredients { grid-column: span 12; }
.recipe.unique .instructions { grid-column: span 12; }
.recipe.unique .tags { grid-column: span 12; }
.recipe.unique .createdDate { grid-column: span 12; }
.recipe.unique .cook-time { grid-column: span 12; }

.recipe .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    justify-self: start;
}

.recipe .ingredients {
    margin-bottom: 1rem;
    margin-left: 1rem;

    font-size: 1.2rem;
}

.recipe .instructions {
    margin: 1rem 0;
    font-size: 1.2rem;
}

.recipe .title {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.recipe .cook-time {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.recipe:not(.unique) .cook-time {
    align-self: start;
    justify-self: end;
}

.recipe .data-hidden {
    display: none;
}

.recipe .createdDate {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.recipe .tags ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}

.recipe .tags ul li {
    background-color: #E0AFA0;
    color: #463F3A;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px 20px;
    margin: 10px 5px;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.recipe .tags ul li:hover {
    background-color: #b88f82;
}

.recipe.unique .actions {
    display: flex;
    align-self: start;
    justify-self: end;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.popup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 40px;
    margin: 30px auto;
    border: 1px solid #8A817C;
    background-color: #463F3A;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.popup-form.hidden {
    display: none;
}

.actions-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.btn {
    border: none;
    border-radius: 9px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #E0AFA0;
    color: #463F3A;
    font-weight: 600;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    background-color: #b88f82;
    color: #000;
}

.btn.btn-add {
    border: none;
    border-radius: 9px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #E0AFA0;
    color: #463F3A;
    font-weight: 600;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
}

.btn.btn-add:hover {
    background-color: #bd9386;
}

.btn.btn-cancel {
    border: none;
    border-radius: 9px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #BCB8B1;
    color: #463F3A;
    font-weight: 600;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
    display: block;
}

.btn.btn-cancel:hover {
    background-color: #87827b;
    color: #000;
}

.btn.btn-delete {
    border: none;
    border-radius: 9px;
    padding: 10px 25px;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: #dc3545;
    color: white;
    font-weight: 600;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
}

.btn.btn-delete:hover {
    background-color: #b82534;
    color: #fff;
}

.hide-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.hide-popup:hover {
    color: #E0AFA0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 10px;
}

.grid .col-1 {
    grid-column: span 1;
}

.grid .col-2 {
    grid-column: span 2;
}

.grid .col-3 {
    grid-column: span 3;
}

.grid .col-4 {
    grid-column: span 4;
}

.grid .col-5 {
    grid-column: span 5;
}

.grid .col-6 {
    grid-column: span 6;
}

.grid .col-7 {
    grid-column: span 7;
}

.grid .col-8 {
    grid-column: span 8;
}

.grid .col-9 {
    grid-column: span 9;
}

.grid .col-10 {
    grid-column: span 10;
}

.grid .col-11 {
    grid-column: span 11;
}

.grid .col-12 {
    grid-column: span 12;
}

.grid .btn {
    margin: 0;
}

.grid .btn.btn-add {
    margin-left: 10px;
}

.grid .btn.btn-add-ingredient {
    margin-top: 10px;
    text-align: center;
    grid-column: span 12;
    border: none;
    height: 100%;
}

.grid .btn.btn-add-ingredient:hover {
    background-color: #bd9386;
}

.grid .btn.btn-remove-ingredient {
    height: 100%;
}

.ingredients-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ingredients-list .ingredient {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    margin-bottom: 1rem;
    align-items: center;

}

.back-anchor {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    line-height: 1.5;
}

.back-anchor:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.form-group input {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #8a817c58;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form-group input:focus {
    color: #fff;
    border-color: #8A817C;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.form-group textarea {
    width: 100%;
    height: 300px;
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #8a817c58;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    resize: vertical;
}

.form-group textarea:focus {
    color: #fff;
    border-color: #8A817C;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.form-group select {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #8a817c58;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form-group select:focus {
    color: #fff;
    border-color: #8A817C;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.form-group.submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.form-tag-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    gap: 10px;
    padding: 25px 20px;
    flex-wrap: wrap;
    height: fit-content;
    cursor: text;
    position: relative;
}

.form-tag-group input.form-display-tags {
    width: fit-content;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    vertical-align: middle;
    font-size: 1.5rem;
}

.form-tag-group input.form-display-tags:focus {
    border: none;
    box-shadow: none;
}

.form-tag-group .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0AFA0;
    color: #463F3A;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.form-tag-group .tag:hover {
    background-color: #b88f82;
}

.form-tag-group .tag .btn-remove-tag {
    margin-left: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2rem;
}

.popup-form#delete-recipe form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
}

.popup-form#delete-recipe form .form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipes .pagination {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.pagination .pagination-link {
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #e0afa0;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.3s;
    border: 1px solid #0000000d;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .pagination-link.active {
    background-color: #917168;
    color: white;
}

.pagination .pagination-link:hover {
    background-color: #917168;
    color: white;
}

.paginatee--show {
    display: block !important;
}

.filtered--show {
    display: block !important;
}

.paginatee--hide {
    display: none !important;
}

.filtered--hide {
    display: none !important;
}

.auto-complete-group {
    position: relative;
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    color: #fff;
    background-color: #8a817c58;
    background-clip: padding-box;
    border: 1px solid #87827b;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.results-container.active {
    display: flex;
}

.results-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

.results-list li {
    padding: 10px 20px;
    background-color: #463F3A;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.results-list li.active {
    background-color: #87827b;
}

.results-list li:hover {
    background-color: #87827b;
}

.results-list:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.results-list:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media screen and (max-width: 940px) {
    .container {
        margin: 0;
        padding: 0;
    }

    .container .wrapper .recipe .title {
        grid-column: span 12;
    }

    .container .wrapper .recipe .cook-time {
        grid-column: span 12;
    }
}