html, body {
    padding: 0;
    margin: 0;

    background-color: #2c2f33;
    color: white;

    font-family: "arial";
}

.title {
    text-align: center;
}

.time {
    text-align: center;
    font-size: 3em;
}