<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/_home/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <title>Aoof</title>
</head>
<body>
    <div class="container">
        <img src="/_media/profile.jpg" alt="profile" class="profile">
        <div class="headline">
            <div id="name">Abdulrahman Mousa | <span class="age">19</span>Years Old</div>
            <div id="description">Dollard-des-Ormeaux, H9G</div>
            <div><a href="mailto:aoof.mousa@gmail.com" id="contact-e">aoof.mousa@gmail.com</a></div>
            <div><a href="tel:+15147177233" id="contact-t">+1 (514) 717-7233</a></div>
            <div></div>
        </div>

        <div class="aboutme">
            <div class="headline">About me <hr></div>
            <div class="desc">
                Objective: To secure a challenging software engineering position in a reputable company where I can utilize my skills and knowledge to contribute to the growth and success of the organization.
                <br>
                Education:<br>
                - Secondary School Education<br>
                - Over 80 hours of Udemy courses in Front-end, Back-end, and Full-stack Web Development, Python, C++, and C Language<br>
                <br>
                Skills:<br>
                - Proficient in Python, JavaScript, C Language, and C#<br>
                - Knowledgeable in front-end, back-end, and full-stack web development<br>
                - Familiar with MongoDB, MySQL, PostgreSQL, SQLite, CSS, SCSS, jQuery, Express.js, and Node.js<br>
                - Ability to create and maintain websites<br>
                - Strong problem-solving and analytical skills<br>
                - Excellent communication and interpersonal skills<br>
                <br>
                Work Experience:<br>
                - Customer Support Representative at IO Solutions (Current)<br>
                - Front-desk Staff Customer Care at Cross Border Pickups (8 months)<br>
                - Training courses in AODA, WHMIS, and OHSA<br>
                <br>
                Projects:<br>
                - Online Store for my father<br>
                - Online Consultation Website for my uncle<br>
                - Website for a school event with more than 20 participating schools (awarded for excellence)<br>
                <br>
                Awards:<br>
                - Award for excellence in creating a website for a school event with more than 20 participating schools.<br>
                <br>
                Career Goals:<br>
                - To work in a reputable company where I can utilize my skills and knowledge in software engineering<br>
                - To continuously improve and expand my knowledge and skills in the field of software engineering<br>
                - To contribute to the growth and success of the organization I will be working with<br>
                <br>
            </div>
        </div>

        <div class="skills">
            <div class="headline">Skills Confidence Bars<hr></div>
            <div class="details">
                <div class="skill">
                    <div class="name">Python</div>
                    <div class="bar py"></div>
                </div>
                <div class="skill">
                    <div class="name">JavaScript</div>
                    <div class="bar js"></div>
                </div>
                <div class="skill">
                    <div class="name">Node.js</div>
                    <div class="bar node"></div>
                </div>
                <div class="skill">
                    <div class="name">Express.js</div>
                    <div class="bar express"></div>
                </div>
                <div class="skill">
                    <div class="name">HTML5</div>
                    <div class="bar html"></div>
                </div>
                <div class="skill">
                    <div class="name">CSS & SCSS</div>
                    <div class="bar css"></div>
                </div>
                <div class="skill">
                    <div class="name">C#</div>
                    <div class="bar cs"></div>
                </div>
                <div class="skill">
                    <div class="name">C Lang</div>
                    <div class="bar c"></div>
                </div>
                <div class="skill">
                    <div class="name">MySQL</div>
                    <div class="bar sql"></div>
                </div>
                <div class="skill">
                    <div class="name">MongoDB</div>
                    <div class="bar mongodb"></div>
                </div>
            </div>
        </div>

        <div class="projects">
            <div class="headline" style="grid-column: 12 span;">Achievements <hr></div>
            <div class="details">
                <div class="card">
                    <div class="image_container">
                        <img src="/_media/Webdesign_01.png" alt="Project snapshots">
                    </div>
                    <div class="desc">
                        <div class="header">Alrushed School Tchoukball Workshop</div>
                        <p>
                            When I was 15 my school made a tchoukball training workshop and invited many schools over to participate, 
                            I volunteered to create the website that would keep track of all schools registered in the event. Over 20 Schools 
                            participated in the event along with the president of the Tchoukball Committee in the United Arab Emirates. The 
                            purpose of the website was also to give the organizers access to all entries and have the option to send an email 
                            to everyone for further updates regarding the workshop, which was done using SendGrid Email Delivery API and a special 
                            interface. Using HTML, CSS, and JavaScript for front-end, and Express.js, Node and MongoDB for back-end. Proudly, my beginning.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="image_container">
                        <img src="/_media/Webdesign_02.png" alt="Project snapshots">
                    </div>
                    <div class="desc">
                        <div class="header">H&A Consultation</div>
                        <p>
                            A WordPress website to give people access to aviation professionals providing consultation, it is a 
                            simple project focusing on WordPress and hosting. You can check it out on <a href="http://haconsultation.com/" target="_blank" rel="noopener noreferrer">https://haconsultation.com/</a>
                        </p>
                    </div>
                </div>
                
                <div class="card">
                    <div class="image_container">
                        <img src="/_media/Webdesign_03.png" alt="Project snapshots">
                    </div>
                    <div class="desc">
                        <div class="header">The Castle Canada</div>
                        <p>
                            Created and managed a small family business website, my father sells fragrances online so after 
                            he initiated the idea of using Shopify to create a personal website, I took on the steering wheel and 
                            refined his shop making him a professional selling platform, learning a lot about Shopify, and handling money 
                            through web applications. Check it out on <a href="http://castlecanada.com/" target="_blank" rel="noopener noreferrer">https://castlecanada.com/</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var dob = new Date("01/26/2004");  
    var month_diff = Date.now() - dob.getTime();
    var age_dt = new Date(month_diff);
    var year = age_dt.getUTCFullYear();
    var age = Math.abs(year - 1970); 

    document.querySelector(".age").innerHTML = age;
</script>
</html>
