<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/_home/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <title>Aoof</title>
</head>
<body>
    <div class="container">
        <img src="/_media/profile.jpg" alt="profile" class="profile">
        <div class="headline">
            <div id="name">Abdulrahman Mousa</div>
            <div id="description">Dollard-des-Ormeaux, H9G</div>
            <div><a href="mailto:aoof.mousa@gmail.com" id="contact-e">aoof.mousa@gmail.com</a></div>
            <div><a href="tel:+15147177233" id="contact-t">+1 (514) 717-7233</a></div>
            <div></div>
        </div>

        <div class="aboutme">
            <div class="headline">About me <hr></div>
            <div class="desc">
                I am an <span class="age"">18</span> year-old developer, studied most of what I know off experimentation and 
                Udemy courses, I watched 81 hours of coding courses teaching me HTML, CSS, JavaScript, Bootstrap, jQuery, Python3, Django, 
                Node.js, Express.js, SQL (Sqlite, PostegreSQL, MySQL), and MongoDB. That number of hours was just the recorded courses I took off 
                Udemy, I watched so many YouTube courses but can’t make any estimated claims, though the content was the same. To have coding as a hobby
                means large amounts of personal projects and competitive coding to solve theory-based problems, I never settled with something that just simply
                "works" I made sure that every scenario was thought through and tested even in the simple tiniest projects.
                <br><br>
            </div>

            <div class="headline">Experience <hr></div>
            <div class="desc">                
                I worked for 8 months in CrossBorder Pickups as a customer service associate, during that time I learned how to act in a group 
                workplace environment and dealing with customers. I took training courses in AODA, WHMIS, and OHSA, my tasks were to handle 
                shipments coming into our warehouse, organize, and process, get ready for the upcoming outbound shipments that we will be receiving 
                during the day, then making sure everything is presentable and clean to work with and opening up shop, all during opening hours.
                Throughout the day I needed to interact with my coworkers and make sure that all the work is done as soon as we receive it,
                the store would never get too crowded because I would finish up with the customers quickly and efficiently. Efficiency, speed, and respect
                are what I value the most.
            </div>
        </div>

        <div class="skills">
            <div class="headline">Skills Confidence Bars<hr></div>
            <div class="details">
                <div class="skill">
                    <div class="name">Python</div>
                    <div class="bar py"></div>
                </div>
                <div class="skill">
                    <div class="name">JavaScript</div>
                    <div class="bar js"></div>
                </div>
                <div class="skill">
                    <div class="name">Node.js</div>
                    <div class="bar node"></div>
                </div>
                <div class="skill">
                    <div class="name">Express.js</div>
                    <div class="bar express"></div>
                </div>
                <div class="skill">
                    <div class="name">HTML5</div>
                    <div class="bar html"></div>
                </div>
                <div class="skill">
                    <div class="name">CSS & SCSS</div>
                    <div class="bar css"></div>
                </div>
                <div class="skill">
                    <div class="name">C#</div>
                    <div class="bar cs"></div>
                </div>
                <div class="skill">
                    <div class="name">C Lang</div>
                    <div class="bar c"></div>
                </div>
                <div class="skill">
                    <div class="name">MySQL</div>
                    <div class="bar sql"></div>
                </div>
                <div class="skill">
                    <div class="name">MongoDB</div>
                    <div class="bar mongodb"></div>
                </div>
            </div>
        </div>

        <div class="projects">
            <div class="headline" style="grid-column: 12 span;">Achievements <hr></div>
            <div class="details">
                <div class="card">
                    <div class="image_container">
                        <img src="/_media/Webdesign_01.png" alt="Project snapshots">
                    </div>
                    <div class="desc">
                        <div class="header">Alrushed School Tchoukball Workshop</div>
                        <p>
                            When I was 15 my school made a tchoukball training workshop and invited many schools over to participate, 
                            I volunteered to create the website that would keep track of all schools registered in the event. Over 20 Schools 
                            participated in the event along with the president of the Tchoukball Committee in the United Arab Emirates. The 
                            purpose of the website was also to give the organizers access to all entries and have the option to send an email 
                            to everyone for further updates regarding the workshop, which was done using SendGrid Email Delivery API and a special 
                            interface. Using HTML, CSS, and JavaScript for front-end, and Express.js, Node and MongoDB for back-end. Proudly, my beginning.
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="image_container">
                        <img src="/_media/Webdesign_02.png" alt="Project snapshots">
                    </div>
                    <div class="desc">
                        <div class="header">H&A Consultation</div>
                        <p>
                            A WordPress website to give people access to aviation professionals providing consultation, it is a 
                            simple project focusing on WordPress and hosting. You can check it out on <a href="http://haconsultation.com/" target="_blank" rel="noopener noreferrer">https://haconsultation.com/</a>
                        </p>
                    </div>
                </div>
                
                <div class="card">
                    <div class="image_container">
                        <img src="/_media/Webdesign_03.png" alt="Project snapshots">
                    </div>
                    <div class="desc">
                        <div class="header">The Castle Canada</div>
                        <p>
                            Created and managed a small family business website, my father sells fragrances online so after 
                            he initiated the idea of using Shopify to create a personal website, I took on the steering wheel and 
                            refined his shop making him a professional selling platform, learning a lot about Shopify, and handling money 
                            through web applications. Check it out on <a href="http://castlecanada.com/" target="_blank" rel="noopener noreferrer">https://castlecanada.com/</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var dob = new Date("01/26/2004");  
    var month_diff = Date.now() - dob.getTime();
    var age_dt = new Date(month_diff);
    var year = age_dt.getUTCFullYear();
    var age = Math.abs(year - 1970); 

    document.querySelector(".age").innerHTML = age;
</script>
</html>
