<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/_home/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <title>Aoof</title>
</head>
<body>
    <div class="container">
        <img src="/_media/profile_converted.jpeg" alt="profile" class="profile">
        <div class="headline">
            <div id="name">Abdulrahman Mousa</div>
            <div id="description"><span class="age">19</span> Years Old<br>Saint-Laurent, QC</div>
            <div><a href="mailto:aoof.mousa@gmail.com" id="contact-e">aoof.mousa@gmail.com</a></div>
            <div><a href="tel:+15147177233" id="contact-t">+1 (514) 717-7233</a></div>
            <div></div>
        </div>

        <div class="aboutme">
            <!-- 
                About Me
                Objective: To secure a challenging software engineering position in a reputable company where I can utilize my skills and knowledge to contribute to the growth and success of the organization.

                Education
                Secondary School Education
                Over 80 hours of Udemy courses in Front-end, Back-end, and Full-stack Web Development, Python, C++, and C Language
                Skills
                Programming Languages: Proficient in Python, JavaScript, C Language, and C#
                Web Development: Knowledgeable in front-end, back-end, and full-stack web development
                Databases: Familiar with MongoDB, MySQL, PostgreSQL, SQLite
                Web Technologies: CSS, SCSS, jQuery, Express.js, Node.js
                Other Skills: Ability to create and maintain websites, strong problem-solving and analytical skills, excellent communication and interpersonal skills
                Work Experience
                Rogers Customer Support Representative through third party IO Solutions (8 months)
                Front-desk Staff Customer Care at Cross Border Pickups (8 months)
                Training Courses: AODA, WHMIS, and OHSA
                Projects
                Online Store for My Father
                Description: Developed an e-commerce platform for my father's business to enhance online presence and increase sales.

                Online Aviation Consultation Website for My Uncle
                Description: Designed and implemented a website offering aviation consultation services, catering to specific industry needs.

                Website for a School Event with 20+ Participating Schools
                Description: Awarded for excellence in creating a website for a large-scale school event, demonstrating effective collaboration and project management skills.

                Welfare Avenue Front-End Development
                Description: Contributed to the front-end development of Welfare Avenue's website, a not-for-profit organization addressing poverty, food insecurity, and resource accessibility.

                IEAC Official Website Development
                Description: Led the development of the International and Ethnic Associations Council's official website using Express, Node.js, HTML, CSS, and Webpack, completing the project in 6 weeks.
                Competitions

                Engineering and Commerce Competition (ENGCOMM Fall 2023)
                Description: Participated in a competition showcasing engineering and commerce skills, applying problem-solving and innovative thinking to real-world challenges.
                Awards
                Award for Excellence in Creating a Website for a School Event with 20+ Participating Schools
                Career Goals
                To work in a reputable company where I can utilize my skills and knowledge in software engineering.
                To continuously improve and expand my knowledge and skills in the field of software engineering.
                To contribute to the growth and success of the organization I will be working with.
             -->
            <div class="headline">About me <hr></div>
            <div class="desc">
                <p>Objective:</p>
                <ul>
                    <li>To secure a challenging software engineering position in a reputable company where I can utilize my skills and knowledge to contribute to the growth and success of the organization</li>
                </ul>
                <p>Education:</p>
                <ul>
                    <li>Secondary School Education</li>
                    <li>Over 80 hours of Udemy courses in Front-end, Back-end, and Full-stack Web Development, Python, C++, and C Language</li>
                </ul>
                <p>Skills:</p>
                <ul>
                    <li>Programming Languages: Proficient in Python, JavaScript, C Language, and C#</li>
                    <li>Web Development: Knowledgeable in front-end, back-end, and full-stack web development</li>
                    <li>Databases: Familiar with MongoDB, MySQL, PostgreSQL, SQLite</li>
                    <li>Web Technologies: CSS, SCSS, jQuery, Express.js, Node.js</li>
                    <li>Other Skills: Ability to create and maintain websites, strong problem-solving and analytical skills, excellent communication and interpersonal skills</li>
                </ul>
                <p>Work Experience:</p>
                <ul>
                    <li>Fedex Ground Package Handler (Sep 17 2023 - Now)</li>
                    <li>Rogers Customer Support Representative through third party IO Solutions (8 months)</li>
                    <li>Front-desk Staff Customer Care at Cross Border Pickups (8 months)</li>
                    <li>Training Courses: AODA, WHMIS, and OHSA</li>
                </ul>
                <p>Projects:</p>
                <ul>
                    <li>IEAC Official Website Development</li>
                    <ul>
                        <li>Description: Completed the entire creation of the International and Ethnic Associations Council's official bilingual website using Express, Node.js, MongoDB, HTML, CSS, and Webpack, Using winston for logging and hosting it on Amazon Web Services, completing the project in 6 weeks.</li>
                    </ul>
                    <li>Welfare Avenue Front-End Development</li>
                    <ul>
                        <li>Description: Contributed to the front-end development of Welfare Avenue's website, a not-for-profit organization addressing poverty, food insecurity, and resource accessibility.</li>
                    </ul>
                    <li>Online Store for My Father</li>
                    <ul>
                        <li>Description: Developed an e-commerce platform for my father's business to enhance online presence and increase sales.</li>
                    </ul>
                    <li>Online Aviation Consultation Website for My Uncle</li>
                    <ul>
                        <li>Description: Designed and implemented a website offering aviation consultation services, catering to specific industry needs.</li>
                    </ul>
                    <li>Website for a School Event with 20+ Participating Schools</li>
                    <ul>
                        <li>Description: Awarded for excellence in creating a website for a large-scale school event, demonstrating effective collaboration and project management skills.</li>
                    </ul>
                </ul>
                <p>Competitions:</p>
                <ul>
                    <li>Engineering and Commerce Competition (ENGCOMM Fall 2023)</li>
                    <ul>
                        <li>Description: Participated in a competition showcasing engineering and commerce skills, applying problem-solving and innovative thinking to real-world challenges.</li>
                    </ul>
                </ul>
                <p>Awards:</p>
                <ul>
                    <li>Participation Award in Engineering and Commerce Competition (ENGCOMM Fall 2023)</li>
                    <li>Award for Excellence in Creating a Website for a School Event with 20+ Participating Schools</li>
                </ul>
                <p>Career Goals:</p>
                <ul>
                    <li>To work in a reputable company where I can utilize my skills and knowledge in software engineering.</li>
                    <li>To continuously improve and expand my knowledge and skills in the field of software engineering.</li>
                    <li>To contribute to the growth and success of the organization I will be working with.</li>
                </ul>
            </div>
        </div>

        <div class="skills">
            <div class="headline">Skills Confidence Bars<hr></div>
            <div class="details">
                <div class="skill">
                    <div class="name">Python</div>
                    <div class="bar py"></div>
                </div>
                <div class="skill">
                    <div class="name">JavaScript</div>
                    <div class="bar js"></div>
                </div>
                <div class="skill">
                    <div class="name">Node.js</div>
                    <div class="bar node"></div>
                </div>
                <div class="skill">
                    <div class="name">Express.js</div>
                    <div class="bar express"></div>
                </div>
                <div class="skill">
                    <div class="name">HTML5</div>
                    <div class="bar html"></div>
                </div>
                <div class="skill">
                    <div class="name">CSS & SCSS</div>
                    <div class="bar css"></div>
                </div>
                <div class="skill">
                    <div class="name">C#</div>
                    <div class="bar cs"></div>
                </div>
                <div class="skill">
                    <div class="name">C Lang</div>
                    <div class="bar c"></div>
                </div>
                <div class="skill">
                    <div class="name">MySQL</div>
                    <div class="bar sql"></div>
                </div>
                <div class="skill">
                    <div class="name">MongoDB</div>
                    <div class="bar mongodb"></div>
                </div>
            </div>
        </div>

        <div class="projects">
            <div class="headline" style="grid-column: 12 span;">Achievements <hr></div>
            <div class="details">

                <div class="card">
                    <div class="image_container">
                        <img src="/_media/Webdesign_04.png" alt="IEAC Project">
                    </div>
                    <div class="desc">
                        <div class="header">IEAC Official Website</div>
                        <h3>Development</h3>

                        <h4>Link:</h4>
                        <p>
                            <a href="https://ieac.ca/" target="_blank" rel="noopener noreferrer">https://ieac.ca/</a>
                        </p>

                        <h4>Project Overview:</h4>
                        <p>For the International and Ethnic Associations Council (IEAC), I solo'd the development of their official website. The goal was to create a dynamic and responsive platform that serves as an information hub for the council, catering to diverse communities and promoting cultural inclusivity.</p>
                        
                        <h4>Technical Details:</h4>
                        
                        <h5>Technology Stack:</h5>
                        <p>
                            Backend: Utilized Express.js and Node.js to create a robust server environment, facilitating efficient data processing and handling.<br>
                            Database: Implemented MongoDB to manage and store data, ensuring a scalable and flexible structure to accommodate the dynamic nature of the council's information.<br>
                            Frontend: Crafted the user interface with plain HTML and CSS, incorporating Webpack for streamlined front-end JavaScript development.
                        </p>

                        <h4>Development Process:</h4>
                        <p>
                            Timeline: Completed the entire project within a tight timeframe of 6 weeks, from conceptualization to production deployment.<br>
                            Hours Invested: Devoted approximately 60 hours, ensuring a meticulous and thorough development process.
                        </p>

                        <h4>Infrastructure:</h4>
                        <p>
                            Hosting: Deployed the website on an AWS EC2 (Elastic Compute Cloud) instance, leveraging the scalability and reliability of Amazon's infrastructure.<br>
                            Database Management: Utilized MongoDB for efficient data storage and retrieval, optimizing performance for dynamic content updates.
                        </p>

                        <h4>Security Measures:</h4>
                        <p>
                            SSL Certificate: Implemented a secure connection by integrating SSL (Secure Sockets Layer) encryption. Employed ACME (Automated Certificate Management Environment) for seamless certificate provisioning and renewal.
                        </p>

                        <h4>Outcome:</h4>
                        <p>
                            The IEAC website stands as a testament to effective project management, technical proficiency, and the ability to create a secure and scalable web solution for a diverse audience.<br>
                            This project showcases my skills in full-stack development, database management with MongoDB, deployment on cloud infrastructure (AWS EC2), and the implementation of security measures such as SSL certificates using ACME for enhanced data protection and user trust.
                        </p>
                    </div>
                </div>
                
                <div class="card">
                    <div class="image_container">
                        <img src="/_media/Webdesign_03.png" alt="Project snapshots">
                    </div>
                    <div class="desc">
                        <div class="header">The Castle Canada</div>
                        <p>
                            Created and managed a small family business website, my father sells fragrances online so after 
                            he initiated the idea of using Shopify to create a personal website, I took on the steering wheel and 
                            refined his shop making him a professional selling platform, learning a lot about Shopify, and handling money 
                            through web applications. Check it out on <a href="http://castlecanada.com/" target="_blank" rel="noopener noreferrer">https://castlecanada.com/</a>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <div class="image_container">
                        <img src="/_media/Webdesign_01.png" alt="Project snapshots">
                    </div>
                    <div class="desc">
                        <div class="header">Alrushed School Tchoukball Workshop</div>
                        <p>
                            When I was 15 my school made a tchoukball training workshop and invited many schools over to participate, 
                            I volunteered to create the website that would keep track of all schools registered in the event. Over 20 Schools 
                            participated in the event along with the president of the Tchoukball Committee in the United Arab Emirates. The 
                            purpose of the website was also to give the organizers access to all entries and have the option to send an email 
                            to everyone for further updates regarding the workshop, which was done using SendGrid Email Delivery API and a special 
                            interface. Using HTML, CSS, and JavaScript for front-end, and Express.js, Node and MongoDB for back-end. Proudly, my beginning.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var dob = new Date("01/26/2004");  
    var month_diff = Date.now() - dob.getTime();
    var age_dt = new Date(month_diff);
    var year = age_dt.getUTCFullYear();
    var age = Math.abs(year - 1970); 

    document.querySelector(".age").innerHTML = age;
</script>
</html>
