<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/_global/alert.css">
    <link rel="stylesheet" href="/_fae/main.css">
    <title>Fae's Grimoire</title>
</head>
<body>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#E0AFA0" fill-opacity="1" d="M0,192L26.7,181.3C53.3,171,107,149,160,122.7C213.3,96,267,64,320,53.3C373.3,43,427,53,480,58.7C533.3,64,587,64,640,80C693.3,96,747,128,800,165.3C853.3,203,907,245,960,234.7C1013.3,224,1067,160,1120,138.7C1173.3,117,1227,139,1280,149.3C1333.3,160,1387,160,1413,160L1440,160L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path></svg>
    <div class="container fae-grimoire" id="add-recipe">
        <%- include("../includes/flash.ejs") %>
        <form action="/fae-sparkles/add-recipe" method="post">
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title" class="form-control" id="title">
            </div>
            <div class="form-group">
                <label>Cook Time</label>
                <select name="cookTime" id="cookTime">
                    <option value="Under 10 minutes">Under 10 minutes</option>
                    <option value="10-30 minutes">10-30 minutes</option>
                    <option value="30-60 minutes">30-60 minutes</option>
                    <option value="Over an hour">Over an hour</option>
                </select>
            </div>
            <div class="form-group">
                <label>Ingredients</label>
                <!-- <input type="hidden" name="ingredients" id="ingredients"> -->
                <div class="ingredients-list">
                    <div class="ingredient grid">
                        <div class="amount col-3">Amount</div>
                        <div class="name col-9">Name</div>
                    </div>
                </div>
                <div class="grid ingredient-btns">
                    <input type="text" class="form-control col-3" id="ingredient-amount">
                    <input type="text" class="form-control col-9" id="ingredient-name">
                    <button class="btn btn-add-ingredient">+</button>
                </div>
            </div>
            <div class="form-group">
                <label>Instructions</label>
                <textarea name="instructions" id="instructions" ></textarea>
            </div>
            <div class="form-group">
                <label>Tags</label>
                <input type="hidden" name="tags" id="tags">
                <div class="tag-group">
                    <input type="text" class="form-display-tags">
                </div>
            </div>
            
            <div class="form-group submit">
                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                <button class="btn btn-cancel" href="/fae-sparkles">Cancel</button>
                <button class="btn btn-submit">Add</button>
            </div>
        </form>
    </div>
</body>
<script src="/js/main-bundled.js"></script>
</html>